html{
    scroll-behavior: smooth;
}

.title {
    color: #02ccba;
    text-align: center;
  }

body {
    background-image: url("img/backwaku.png");
    background-color:darkgray;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    height: 80px;
    background-image: url("img/headimg.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
    position:fixed;
}

.bt_trans{
    height:50px;
    text-align:center!important;
    line-height:100px;
    float:left;
    margin-top: 88px;
    margin-left: 10px;
    margin-bottom: 29px;
}

.logo {
    position: absolute;
    top: 50px;
    left: 50%; 
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.main{
    height: 8800px;
    min-height: 100%;
    object-fit: cover;
    background-image: url("img/div4.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0px 10px;
}

.newslogo{
    margin: 50px 30px 0px 50px;
    max-width: 700px;
    width:80%;
    height: auto;
}

.bt_news{
    max-width: 200px;
    width:100%;
}

.bt_cafe{
    max-width: 200px;
    width:100%;
}

.bt_floor{
    max-width: 200px;
    width:100%;
}

.after{
    clear:both;
}

.cafe{
    margin: 10px 40px 10px 10px;
    font-size:14px;
    list-style: none;
    /*background-color: blue;*/
}

.cafemenu{
    max-width: 2000px;
    width:100%;
}

.main p{
    margin: 10px 40px 10px 40px;
    font-size:14px;
    color:white;
    line-height:90%;
    list-style: none;
}

.main h3{
    margin: 10px 40px 10px 40px;
    font-size:16px;
    color:#F9DBB8;
    text-shadow: -1px -1px 0 #734A30, -1px 0 0 #734A30, -1px 1px 0 #734A30,
                  0 -1px 0 #734A30,                  0 1px 0 #734A30,
                1px -1px 0 #734A30,  1px 0 0 #734A30,  1px 1px 0 #734A30;
    /*background-color:greenyellow;*/
}

.main ul{
    margin: 10px 40px 10px 10px;
    font-size:14px;
    list-style: none;
}

.main li{
    font-size:14px;
    color:white;
}

.box1{
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
    width:100%;
    max-width: 300px;
    margin: 0px 10px 10px 0px;
}

.box2{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    color: #FFF;
    width:100%;
    max-width: 600px;
    margin: 0px 10px 10px 0px;
}

.food_title{
    font-weight: bold;
    font-size: 18px;
}

.bt_page{
    max-width: 200px;
    width: 100%;
    margin:0,10px,10px,0;
}

.pagetop{
    height: 100px;
    width: 100px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
}
